---
---

@import "{{ site.theme }}";

.page-header {
  background-color: rgb(255,255,255);
  background-image: url("/assets/fof_banner_with_title.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: contain contain;
}
